@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000311}}
.lt-ie7 div.admin .left,
.lt-ie7 div.admin .right {
  width: 46%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000320}}
.lt-ie7 ul.primary,
.lt-ie7 ul.secondary {
  width: 100%;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000324}}
.lt-ie7 ul.primary li a,
.lt-ie7 ul.primary li a .tab,
.lt-ie7 ul.secondary li a,
.lt-ie7 ul.secondary li a .tab {
  display: inline;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000333}}
.lt-ie7 ul.primary li a {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left -38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000335}}
.lt-ie7 ul.primary li a .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right -38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000338}}
.lt-ie7 ul.primary li a:hover {
  background-position: left -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000340}}
.lt-ie7 ul.primary li a:hover .tab {
  background-position: right -76px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000346}}
.lt-ie7 ul.primary li.active a, .lt-ie7 ul.primary li.active a:hover {
  background: url(../images/tabs/tab-left-ie6.png) no-repeat left 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie6\.scss}line{font-family:\0000348}}
.lt-ie7 ul.primary li.active a .tab, .lt-ie7 ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right-ie6.png) no-repeat right 0;
}
