@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie7\.scss}line{font-family:\0000312}}
.lt-ie8 #content tr.even th,
.lt-ie8 #content tr.even td,
.lt-ie8 #content tr.odd th,
.lt-ie8 #content tr.odd td {
  border-bottom: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm\/sites\/all\/themes\/ofcmboilerplate\/sass\/ie7\.scss}line{font-family:\0000323}}
.lt-ie8 ul.primary li a:hover,
.lt-ie8 ul.secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}
