@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), local("JosefinSans"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans Bold"), local("JosefinSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/C6HYlRF50SGJq1XyXj04z3l4twXkwp3_u9ZoePkT564.woff) format("woff");
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Josefin Sans Italic"), local("JosefinSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/q9w3H4aeBxj0hZ8Osfi3d3pumDtkw9GHrrDfd7ZnWpU.woff) format("woff");
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Josefin Sans Bold Italic"), local("JosefinSans-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/ppse0J9fKSaoxCIIJb33G70qgHI2SEqiJszC-CVc3gY.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000320}}
#page {
  margin: 0;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000320}}
  #page {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000320}}
  #page {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000333}}
body, #page {
  height: 100%;
}

@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000336}}
  body {
    background: #fff;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000343}}
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000343}}
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000356}}
#main {
  position: relative;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000356}}
  #main {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000356}}
  #main {
    padding-bottom: 0px;
    position: static;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000367}}
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  margin-bottom: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000374}}
.sidebar {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000378}}
#sidebar-second {
  float: right;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000378}}
  #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000388}}
#footer {
  height: auto;
  width: 1080px;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000388}}
  #footer {
    position: relative;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\0000388}}
  #footer {
    position: relative;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003101}}
  .sidebar, #sidebar-first, #sidebar-second {
    float: none;
    clear: both;
    width: auto;
    margin: 0px;
  }
}

@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003110}}
  #content #content-inner.center {
    width: auto;
    margin: 0px;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003110}}
  #content #content-inner.center {
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    line-height: 1.6em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003126}}
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003139}}
.two-sidebars .center,
.sidebar-first .center {
  margin-left: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003144}}
#sidebar-first {
  width: 25%;
  margin-right: -270px;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003144}}
  #sidebar-first {
    margin-right: 0;
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003155}}
.two-sidebars .center,
.sidebar-second .center {
  margin-right: 270px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003160}}
#sidebar-second {
  width: 270px;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003160}}
  #sidebar-second {
    margin-right: 0;
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003174}}
.inner {
  padding: 10px;
  padding: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003182}}
#navigation {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 0;
  padding: 10px;
  padding: 1rem;
  width: 100%;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_layout\.scss}line{font-family:\00003182}}
  #navigation {
    clear: both;
    padding: 5px;
    padding: 0.5rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000310}}
a {
  color: #223f5f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000314}}
a:visited {
  color: #A6B2BF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000317}}
a:hover {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000320}}
a:focus {
  color: red;
  outline: thin dotted;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000324}}
a:hover, a:active {
  color: red;
  text-decoration: underline;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000332}}
#navigation ul {
  margin: 0px;
  float: left;
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000337}}
#navigation li {
  list-style: none;
  margin: 5px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000345}}
#footer p {
  margin: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000353}}
h1, .node-type-concierto section .field-label, h2, .view-fronthighlights .view-content .title a, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: #000;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000353}}
  h1, .node-type-concierto section .field-label, h2, .view-fronthighlights .view-content .title a, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000367}}
h1, .node-type-concierto section .field-label {
  font-size: 28px;
  line-height: 42px;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000374}}
h2, .view-fronthighlights .view-content .title a {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 300;
  margin-bottom: 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000380}}
h3 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000385}}
h4 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000390}}
h5 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\0000396}}
h6 {
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003101}}
p {
  margin: 0 0 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003105}}
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003111}}
b, strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003115}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003119}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003123}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003132}}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003138}}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003145}}
pre, code, kbd, samp, tt {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003151}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003162}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003166}}
q:before, q:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003171}}
small {
  font-size: 85%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003175}}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003182}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003186}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003193}}
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003198}}
dd {
  margin: 0 0 0 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003202}}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003209}}
ul {
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003211}}
ul ul {
  list-style-type: circle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003213}}
ul ul ul {
  list-style-type: square;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003215}}
ul ul ul ul {
  list-style-type: circle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003222}}
ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003224}}
ol ol {
  list-style-type: lower-alpha;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003226}}
ol ol ol {
  list-style-type: decimal;
}

@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003232}}
  p img {
    float: left;
    margin: 0 10px 5px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003240}}
  img {
    border: 0;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_base\.scss}line{font-family:\00003246}}
  table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000314}}
* {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/boxsizing.htc);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/compass\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000325}}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000331}}
audio:not([controls]) {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000335}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000340}}
#skip a {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_mixins\.scss}line{font-family:\0000373}}
#skip a:active, #skip a:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000349}}
#site-name {
  font-size: 28px;
  line-height: 42px;
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000357}}
div.view div.views-admin-links {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000366}}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000376}}
.ir br {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000381}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000386}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000388}}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000393}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\0000397}}
.clearfix, #navigation {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_mixins\.scss}line{font-family:\0000381}}
.clearfix:before, #navigation:before {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/compass\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.clearfix:after, #navigation:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003102}}
.clearleft, .clearl, .cleft {
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003105}}
.clearright, .clearr, .cright {
  clear: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003109}}
.clear, .clearboth, .clearall {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003114}}
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003118}}
.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003127}}
#system-themes-form img {
  width: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003131}}
.form-item .description {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 5px;
  color: #777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003138}}
#edit-delete {
  color: #c00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003143}}
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003151}}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003157}}
div.error {
  color: white;
  background: #e63;
  border-color: #d52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003163}}
div.status {
  color: #360;
  background: #cf8;
  border-color: #bbee77;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003172}}
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003178}}
html, button, input, select, textarea {
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  color: #2d2d2d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003183}}
body {
  margin: 0;
  font-size: 13px;
  line-height: 19.5px;
  font-size: 1.3rem;
  line-height: 1.95rem;
  font-family: "Open Sans", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003195}}
::-moz-selection {
  background: #223f5f;
  color: #fff;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003200}}
::selection {
  background: #223f5f;
  color: #fff;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003210}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003216}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003223}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003230}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003234}}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003238}}
label {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003242}}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003249}}
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003256}}
button, input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003261}}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003270}}
button[disabled], input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003274}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003282}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003289}}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003294}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003300}}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003309}}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003317}}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 99%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003323}}
td {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003329}}
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003334}}
tr.odd {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003341}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003352}}
.wireframe-mode #header,
.wireframe-mode #content-top,
.wireframe-mode #content-top > *,
.wireframe-mode #content-header,
.wireframe-mode #content-header > *,
.wireframe-mode #content-area,
.wireframe-mode #content-area > *,
.wireframe-mode #content-bottom,
.wireframe-mode #content-bottom > *,
.wireframe-mode #primary,
.wireframe-mode #secondary,
.wireframe-mode #sidebar-left-inner,
.wireframe-mode #sidebar-right-inner,
.wireframe-mode .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003369}}
.wireframe-mode .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003373}}
.wireframe-mode .block {
  margin-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003376}}
.wireframe-mode #content-top,
.wireframe-mode #content-header,
.wireframe-mode #content-area,
.wireframe-mode #content-bottom {
  margin: 0 3px 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003382}}
.wireframe-mode #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003388}}
.wireframe-mode .with-navigation #content,
.wireframe-mode .with-navigation .sidebar {
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_document\.scss}line{font-family:\00003393}}
.wireframe-mode #navigation {
  height: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_modules\.scss}line{font-family:\0000313}}
#header,
#footer {
  padding: 10px;
  padding: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_modules\.scss}line{font-family:\0000317}}
#header,
#footer,
#navigation,
#sidebar-first,
#sidebar-second,
#content_top,
#content_bottom {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_modules\.scss}line{font-family:\0000327}}
#header {
  background: #223f5f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_modules\.scss}line{font-family:\0000331}}
#sidebar-first {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_modules\.scss}line{font-family:\0000335}}
#sidebar-second {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_modules\.scss}line{font-family:\0000339}}
#navigation {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_modules\.scss}line{font-family:\0000343}}
#footer {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\000037}}
#header {
  height: 120px;
  background: #223f5f;
  transition: height 1000 ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000313}}
img.gdfl {
  display: block;
  margin: auto;
  float: left;
  height: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000320}}
.gdflinv {
  margin-left: 40%;
  margin-top: 16px;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000320}}
  .gdflinv {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000328}}
.scrolled .gdflinv {
  position: absolute;
  height: 60px;
  top: 0;
  left: 43%;
  display: block;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000328}}
  .scrolled .gdflinv {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000338}}
#navigation {
  width: auto;
  float: right;
  margin-top: -60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000345}}
#header.scrolled {
  width: 100%;
  height: 60px;
  z-index: 30;
  position: fixed;
  left: 0;
  top: 0;
  transition: height 1000 ease-in;
  transition: position 1000 ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000355}}
#navigation.scrolled {
  margin-top: 0;
  position: fixed;
  z-index: 40;
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000364}}
#content-header #highlight {
  position: relative;
  height: 640px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000367}}
#content-header #highlight #block-views-conciertoilustracion-block,
#content-header #highlight #block-views-frontmosaic-block {
  position: relative;
  margin: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000372}}
#content-header #highlight #block-views-fronthighlights-block {
  height: 300px;
  position: relative;
  margin-top: 356px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000380}}
#content, #content-area {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000384}}
.not-front #content {
  margin-top: 195px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000389}}
#content-area {
  width: 1080px;
  margin: auto;
  margin-top: 40px;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000389}}
  #content-area {
    width: 80%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\0000396}}
#content-area #block-views-conciertodirector-block, #content-area #block-views-conciertosolistas-block .views-row, #block-views-conciertosolistas-block #content-area .views-row {
  width: 50%;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003100}}
#content-area #block-views-conciertosolistas-block {
  width: 50%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003106}}
.front #content-area {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003111}}
#footer, .region-footer {
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003118}}
body {
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003124}}
body.not-front {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003129}}
h1, .node-type-concierto section .field-label, h2, .view-fronthighlights .view-content .title a, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003129}}
  h1, .node-type-concierto section .field-label, h2, .view-fronthighlights .view-content .title a, h3, h4, h5, h6 {
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    line-height: 1.5;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003143}}
h1, .node-type-concierto section .field-label {
  font-size: 32px;
  line-height: 48px;
  font-size: 3.2rem;
  line-height: 4.8rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003143}}
  h1, .node-type-concierto section .field-label {
    text-align: center;
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003152}}
h2, .view-fronthighlights .view-content .title a, h3 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 700;
  margin-top: 0.75em;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003161}}
.not-front h1, .not-front .node-type-concierto section .field-label, .node-type-concierto section .not-front .field-label {
  color: #223f5f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003165}}
a:link {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003170}}
header#header a#logo {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003172}}
header#header a#logo img {
  height: 72px;
  margin: 0 10px 0 10px;
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003180}}
#header.scrolled #logo img {
  height: 44px;
  margin: 0 10px 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003186}}
nav#navigation ul {
  float: right;
  width: auto;
  padding: 5px 5px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003191}}
nav#navigation li {
  list-style: none;
  float: left;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003196}}
nav#navigation a {
  border-bottom: transparent 4px solid;
  height: 60px;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 0 10px 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003205}}
nav#navigation a:hover {
  border-color: #fff;
  transition: border-color 0.3s ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003212}}
.botondark, .frontmosaicitem .ficha .botonzuelo a, .view-fronthighlights .view-content .fhleermas a, .node-type-concierto .concertdates li a {
  display: block;
  border-radius: 4px;
  color: #fff;
  background: #223f5f;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  margin: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003223}}
.botondark:hover, .frontmosaicitem .ficha .botonzuelo a:hover, .view-fronthighlights .view-content .fhleermas a:hover, .node-type-concierto .concertdates li a:hover {
  background: #fff;
  color: #223f5f;
  transition: background 0.3s ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003230}}
.botonlight {
  display: block;
  border-radius: 4px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  margin: auto;
  background: #fff;
  color: #223f5f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003241}}
.botonlight:hover {
  background: #223f5f;
  color: #fff;
  transition: background 0.3s ease-in;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003248}}
.breadcrumb {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003255}}
.frontmosaicitem {
  height: 640px;
  position: absolute;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003259}}
.frontmosaicitem .ilustracion {
  overflow: hidden;
  height: 640px;
  background: #000;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003264}}
.frontmosaicitem .ilustracion img {
  margin-left: -40%;
  opacity: 0.4;
  width: 130%;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003264}}
  .frontmosaicitem .ilustracion img {
    margin-left: 0;
    display: block;
    width: 150%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003275}}
.frontmosaicitem .ficha {
  position: relative;
  height: 640px;
  margin: auto;
  margin-top: -640px;
  text-align: center;
  color: #fff;
  padding-top: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003283}}
.frontmosaicitem .ficha .fechas {
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003287}}
.frontmosaicitem .ficha .titulo a {
  text-transform: uppercase;
  width: 70%;
  font-size: 36px;
  line-height: 54px;
  font-size: 3.6rem;
  line-height: 5.4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003295}}
.frontmosaicitem .ficha .resumen {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003298}}
.frontmosaicitem .ficha .botonzuelo {
  width: 120px;
  margin: auto;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  width: 120px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003312}}
.view-fronthighlights {
  width: 100%;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003315}}
.view-fronthighlights .view-content {
  border-top: 2px dotted #fff;
  padding-top: 30px;
  color: #fff;
  height: 300px;
  clear: both;
  width: 80%;
  margin: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003323}}
.view-fronthighlights .view-content .title {
  height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003325}}
.view-fronthighlights .view-content .title a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003330}}
.view-fronthighlights .view-content .dates {
  height: 60px;
  margin-bottom: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003334}}
.view-fronthighlights .view-content .fhleermas a {
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  width: 50%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003340}}
.view-fronthighlights .view-content .highlightitem {
  float: left;
  width: 33.33%;
  padding: 0 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003348}}
.view-avisos, #footer {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003353}}
#block-sharethis-sharethis_block {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003357}}
section#block-views-noticiasfrontal-block,
section#block-block-3 {
  height: 420px;
  width: 40%;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003366}}
section#block-views-noticiasfrontal-block {
  margin: 0 0 0 3%;
  float: left;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003370}}
section#block-views-noticiasfrontal-block .field-name-image {
  width: auto;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003374}}
section#block-views-noticiasfrontal-block h2.block-title, section#block-views-noticiasfrontal-block .view-fronthighlights .view-content .title a.block-title, .view-fronthighlights .view-content .title section#block-views-noticiasfrontal-block a.block-title {
  border-bottom: dotted 2px #ccc;
  margin-bottom: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003379}}
section#block-views-noticiasfrontal-block .field, section#block-views-noticiasfrontal-block .node h2, section#block-views-noticiasfrontal-block .node .view-fronthighlights .view-content .title a, .view-fronthighlights .view-content .title section#block-views-noticiasfrontal-block .node a {
  float: right;
  width: 48%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003383}}
section#block-views-noticiasfrontal-block .submitted {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003386}}
section#block-views-noticiasfrontal-block .field-name-field-image {
  float: left;
  width: 42%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003392}}
section#block-block-3 {
  margin: 0 3% 0 0;
  display: block;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003396}}
section#block-block-3 .field-name-image {
  width: auto;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003400}}
section#block-block-3 h2.block-title, section#block-block-3 .view-fronthighlights .view-content .title a.block-title, .view-fronthighlights .view-content .title section#block-block-3 a.block-title {
  border-bottom: dotted 2px #ccc;
  margin-bottom: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003404}}
section#block-block-3 .fotosala img {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003409}}
.view-conciertosfrontal {
  margin-top: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003411}}
.view-conciertosfrontal .views-row {
  width: 25%;
  height: 400px;
  float: left;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003411}}
  .view-conciertosfrontal .views-row {
    width: 33.33%;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003411}}
  .view-conciertosfrontal .views-row {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003422}}
.view-conciertosfrontal ul.concertdates {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003424}}
.view-conciertosfrontal ul.concertdates :hover {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003429}}
.page-node .field-name-field-image {
  float: left;
  margin: 0 60px 60px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003434}}
.front .node-concierto.node-teaser {
  width: 262px;
  position: relative;
  display: table;
  margin: 0 auto;
  overflow: hidden;
  border: #ddd 1px solid;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003434}}
  .front .node-concierto.node-teaser {
    width: 80%;
    height: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003445}}
.front .node-concierto.node-teaser ul.concertdates {
  float: left;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003448}}
.front .node-concierto.node-teaser ul.concertdates li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003450}}
.front .node-concierto.node-teaser ul.concertdates li :hover {
  padding: 4px;
  transition: padding 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003456}}
.front .node-concierto.node-teaser .field-name-field-ilustracion {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003459}}
.front .node-concierto.node-teaser header {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 37%;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003464}}
.front .node-concierto.node-teaser header a {
  display: block;
  color: #fff;
  padding: 8px;
  text-shadow: 1px 1px 3px #000;
  background: rgba(0, 0, 0, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003472}}
.front .node-concierto.node-teaser div.content {
  background: #A6B2BF;
  display: block;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003476}}
.front .node-concierto.node-teaser div.content img {
  width: 100%;
  height: 100%;
  background: #223f5f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003481}}
.front .node-concierto.node-teaser div.content .date {
  width: 70%;
  float: left;
  background: #A6B2BF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003486}}
.front .node-concierto.node-teaser div.content .boletos a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  float: left;
  color: #fff;
  background: #223f5f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003497}}
.front .node-concierto.node-teaser footer {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003504}}
#block-block-2 {
  width: 36px;
  z-index: 1000;
  display: block;
  background: #fff;
  position: fixed;
  left: 0;
  top: 240px;
  box-shadow: 1px 3px 6px 0px #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003513}}
#block-block-2 span {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003516}}
#block-block-2 ul#redessociales {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003520}}
#block-block-2 ul#redessociales li a {
  background-opacity: 0.5;
  display: block;
  width: 100%;
  height: 36px;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003526}}
#block-block-2 ul#redessociales li a:hover {
  margin-left: 10px;
  transition: margin-left 0.3s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003531}}
#block-block-2 ul#redessociales li.facebookL a {
  background: url("../../images/facebook.png") center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003534}}
#block-block-2 ul#redessociales li.twitterL a {
  background: url("../../images/twitter.png") center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003537}}
#block-block-2 ul#redessociales li.rssl a {
  background: url("../../images/rss.png") center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003547}}
h1.title, .node-type-concierto section .title.field-label, .tabs {
  width: 1080px;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003553}}
.node-type-concierto #block-block-1.scrolled {
  z-index: 40;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  margin-top: 0;
  transition: position;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003562}}
.node-type-concierto #block-block-1 {
  z-index: 40;
  position: absolute;
  width: 100%;
  background: #fff;
  margin-top: -196px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003568}}
.node-type-concierto #block-block-1 ul {
  width: 70%;
  margin: 23px auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003571}}
.node-type-concierto #block-block-1 ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 20%;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003582}}
  .node-type-concierto #block-block-1 ul {
    width: 100%;
    margin: 23px auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003585}}
  .node-type-concierto #block-block-1 ul li {
    font-size: 14px;
    line-height: 21px;
    font-size: 1.4rem;
    line-height: 2.1rem;
    list-style: none;
    padding: 0 2%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003593}}
.node-type-concierto section {
  padding-top: 180px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003595}}
.node-type-concierto section .field-label {
  border-top: dotted 2px #666;
  padding-top: 20px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003602}}
.node-type-concierto .conciertoilustracion {
  height: 640px;
  position: absolute;
  top: 0;
  margin-top: -120px;
  width: 100%;
  z-index: -1000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003609}}
.node-type-concierto .conciertoilustracion .ilustracion {
  float: left;
  overflow: hidden;
  width: 100%;
  height: 500px;
  background: #fff;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003616}}
.node-type-concierto .conciertoilustracion .ilustracion img {
  overflow: hidden;
  opacity: 0.3;
  min-width: 100%;
  min-height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003624}}
.node-type-concierto ul.concertdates {
  position: absolute;
  z-index: 20;
  top: 360px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003631}}
.node-type-concierto ul.concertdates.scrolled {
  top: 480px;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003624}}
  .node-type-concierto ul.concertdates {
    left: 0;
    position: relative;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003640}}
.node-type-concierto .concertdates li {
  float: left;
  height: 118px;
  width: 180px;
  line-height: 1.3em;
  padding: 1em;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003640}}
  .node-type-concierto .concertdates li {
    width: 100%;
    margin: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003650}}
.node-type-concierto .concertdates li a {
  width: 100%;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003640}}
  .node-type-concierto .concertdates li {
    float: left;
  }
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003640}}
  .node-type-concierto .concertdates li {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003661}}
.node-type-concierto div#block-views-conciertoencabezado-block {
  height: 120px;
  display: block;
  overflow: hidden;
  margin-top: -640px;
  margin-bottom: 310px;
}
@media only screen and (max-width: 1080px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003661}}
  .node-type-concierto div#block-views-conciertoencabezado-block {
    margin-bottom: 280px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003673}}
.node-type-concierto .block-system {
  width: auto;
  margin: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003679}}
#block-views-conciertodirector-block, #block-views-conciertosolistas-block .views-row {
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  float: left;
  display: block;
  width: 1080px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003697}}
.page-taxonomy-term .node-concierto .concertdates {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003700}}
.page-taxonomy-term .node-concierto .links {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003703}}
.page-taxonomy-term .node-concierto .field-name-field-ilustracion {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003707}}
.page-taxonomy-term h1.title, .page-taxonomy-term .node-type-concierto section .title.field-label, .node-type-concierto section .page-taxonomy-term .title.field-label {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003714}}
.page-taxonomy-term .vocabulary-int-rpretes #taxonomy_term_int_rpretes_full_group_ficha_artista {
  width: auto;
  margin: auto;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003724}}
.page-taxonomy-term .vocabulary-sedes .field-name-field-ilustracion {
  float: right;
  margin: 0 0 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003731}}
.page-taxonomy-term-13 article, .page-taxonomy-term-13 .pager {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003736}}
div.messages {
  display: none;
  position: fixed;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003744}}
.node-type-page .node .field-name-field-ilustracion {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003749}}
.node-type-page .node .field-name-field-ilustracion img {
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_custom\.scss}line{font-family:\00003755}}
.node-type-page .column.sidebar.second {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000310}}
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000319}}
  a, a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000323}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000327}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000331}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000337}}
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000342}}
  thead {
    display: table-header-group;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000346}}
  tr, img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000350}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000358}}
  p, h2, .view-fronthighlights .view-content .title a, h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000363}}
  h2, .view-fronthighlights .view-content .title a, h3 {
    page-break-after: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000367}}
  .sidebar,
  #navigation,
  #header-region,
  #search-theme-form,
  #footer,
  .breadcrumb,
  .tabs,
  .feed-icon,
  .links {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000379}}
  #page {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000383}}
  #content,
  #content #content-inner,
  .content,
  .title {
    margin: 20px 0;
    width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\0000392}}
  a:hover, a:active, a:link, a:visited {
    color: black;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sono\/Web\/ofcm-web\/www\/sites\/all\/themes\/ofcmboilerplate\/sass\/_print\.scss}line{font-family:\00003101}}
  #content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
    line-height: 16.5px;
    font-size: 1.1rem;
    line-height: 1.65rem;
    font-weight: normal;
  }
}
