////////////////////////////////////////////////////////////////////////////////
// "vars" partial
// --------------------
//
////////////////////////////////////////////////////////////////////////////////

//
// Variables
////////////////////////////////////////


//
// Widths
//
$first_sidebar_width: 270px;
$second_sidebar_width: 270px;
$page_width: 1080px;


//
// Breakpoints
//
$tablet: $page_width; //This is set to page width by default
$mobile: 480px;

//
// Heights
//
$navigation_height: 60px;
$highlight_height: 640px;
$fronthighlight_height: 300px;
$footer_height: auto;

//
// Padding
//
$section_padding: 10;
$mobile_padding: 5;

//
// Colors
//
$link_color: #223f5f;
$visited_link_color: #A6B2BF;
$active_link_color: red;
$main_text_color: #2d2d2d;
$header_text_color: #000;
$selection_text_color: #fff;
$selection_bg_color: #223f5f;

//
// Backgrounds, change these when you get started with your theme.
//
$border: none;

$header_bg: #223f5f;
//header_bg: url('../../images/header_bg.png') bottom repeat-x;
$footer_bg:$selection_bg_color;
$footer_bg: none;
$sidebar_first_bg: none;
$sidebar_second_bg: none;
$navigation_bg: none;

//
// Fonts
//
$main_font: "Open Sans", helvetica, Arial, sans-serif;
$title_font: "Josefin Sans", sans-serif;
$monospace_font: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;


//
// Animation times
//
$hover_time: .3s;

//
// Partials to be shared with all .scss files.
////////////////////////////////////////
@import "compass";                  // See http://compass-style.org
@import "compass/reset/utilities";
@import "mixins";                   // Import our custom mixins last.
