//
// Typography _base.css
//

// LAYOUT Structure

#header {
	height:$navigation_height * 2;
	background:$header_bg;
	transition:height 1000 ease-in;
}

img.gdfl {
	display:block;
	margin:auto;
	float:left;
	height:90%;
}

.gdflinv {
	margin-left:40%;
	margin-top:16px;
	@include breakpoint($mobile) {
		display:none;
	}
}

.scrolled .gdflinv {
	position:absolute;
	height:$navigation_height;
	top:0;left:43%;
	display:block;
	@include breakpoint($mobile) {
		display:none;
	}
}

#navigation {
	width:auto;
	float:right;
	margin-top:$navigation_height * -1;
}


#header.scrolled {
	width:100%;
	height:$navigation_height;
	z-index:30;
	position:fixed;
	left:0;top:0;
	transition:height 1000 ease-in;
	transition:position 1000 ease-in;
}

#navigation.scrolled {
	margin-top:0;
	position:fixed;
	z-index:40;
	right:0;
}


#content-header {
	#highlight {
		position:relative;
		height:$highlight_height;
		#block-views-conciertoilustracion-block,
		#block-views-frontmosaic-block {
			position:relative;
			margin:-10px;
		}
		#block-views-fronthighlights-block {
			height:$fronthighlight_height;
			position:relative;
			margin-top:$highlight_height - $fronthighlight_height + 16;
		}
	}
}

#content, #content-area {
	width:100%;
}

.not-front #content {
	margin-top:$navigation_height * 3 + 15;

}

#content-area {
	width:$page_width;
	margin:auto;
	margin-top:40px;
  @include breakpoint($tablet) {
	width:80%;
	}
	#block-views-conciertodirector-block {
		width:50%;
		float:right;
	}
	#block-views-conciertosolistas-block {
		width:50%;
		float:left;
	}
}

.front #content-area {
	width:auto;
}


#footer, .region-footer {
  margin:auto;
}


// STYLES

body {
    @include font-size(15);
		//background:url('../../images/fondo.jpg') center $highlight_height repeat-x;
		//background:#dbe0e5;
}

body.not-front {
    @include font-size(18);
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  color: $header_text_color;
	font-family:$title_font;
	font-weight:bolder;
  @include breakpoint($mobile) {
    @include font-size(16);
    line-height: 1.5;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
  }
}

h1{
	@include font-size(32);
	text-transform:uppercase;
	@include breakpoint($tablet) {
		text-align:center;
		width:100%;
	}
}

h2,h3 {
  @include font-size(18);
  font-weight: 700;
  margin-top: 0.75em;
  margin-bottom: 0;
	text-transform:uppercase;
}


.not-front h1{
	color:$header_bg;
}

a:link {
	text-decoration:none;
}

header#header {
	a#logo {
		float:left;
		img {
			height:$navigation_height + 12;
			margin:0 10px 0 10px;
			margin-top:$navigation_height / 2 - 10;
		}
	}
}

#header.scrolled #logo img {
	height:$navigation_height - 16;
	margin:0 10px 0 10px;
}

nav#navigation {
	ul {
		float:right;
		width:auto;
		padding:5px 5px 0 0;
	}
	li {
		list-style: none;
		float: left;
		margin:0;
	}
	a {
		border-bottom:transparent 4px solid;
		height:$navigation_height;
    @include font-size(16);
		font-family: $title_font;
		padding: 0 10px 18px;
		text-transform:uppercase;
		font-weight:700;
		color:$selection_text_color;
		&:hover {
		border-color:$selection_text_color;
		transition:border-color $hover_time ease-in;
		}
	}
}

.botondark {
	display:block;
	border-radius:4px;
	color:$selection_text_color;
	background:$selection_bg_color;
	font-family:$title_font;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	padding:12px;
	margin:auto;
	&:hover {
		background:$selection_text_color;
		color:$selection_bg_color;
		transition:background $hover_time ease-in;
	}
}

.botonlight {
	display:block;
	border-radius:4px;
	font-family:$title_font;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	padding:12px;
	margin:auto;
	background:$selection_text_color;
	color:$selection_bg_color;
	&:hover {
		background:$selection_bg_color;
		color:$selection_text_color;
		transition:background $hover_time ease-in;
	}
}

.breadcrumb {
	display:none;
}


// FRONTAL

.frontmosaicitem {
	height:$highlight_height;
	position:absolute;
	width:100%;
	.ilustracion {
		overflow:hidden;
		height:$highlight_height;
		background:#000;
		text-align:right;
		img {
			margin-left:40% * -1;
			opacity:0.4;
			width:130%;
			@include breakpoint($tablet) {
				margin-left:0;
				display:block;
				width:150%;
			}
		}
	}
	.ficha {
		position:relative;
		height:$highlight_height;
		margin:auto;
		margin-top:$highlight_height * -1;
		text-align:center;
		color:$selection_text_color;
		padding-top:60px;
		.fechas {
			@include font-size(14);
			text-transform:uppercase;
		}
		.titulo a {
			text-transform:uppercase;
			width:70%;
			@include font-size(36);
			font-family: $title_font;
			font-weight:700;
			color:$selection_text_color;
		}
		.resumen {
			@include font-size(16);
		}
		.botonzuelo {
			width:120px;
			margin:auto;
			a {
				@extend .botondark;
			}
			@include font-size(14);
			width:120px;
		}
	}
}



.view-fronthighlights {
	width:100%;
	display:block;
	.view-content {
		border-top:2px dotted $selection_text_color;
		padding-top:30px;
		color:$selection_text_color;
		height:$fronthighlight_height;
		clear:both;
		width:80%;
		margin:auto;
		.title {
			height:$navigation_height;
			a {
				@extend h2;
				color:$selection_text_color;
			}
		}
		.dates {
			height:$navigation_height;
			margin-bottom:16px;
		}
		.fhleermas a {
			@extend .botondark;
			@include font-size(14);
			width:50%;
			float:left;
		}
		.highlightitem {
			float:left;
			width:33.33%;
			padding:0 2%;
		}
	}
}

.view-avisos, #footer{
  text-align: center;
}


#block-sharethis-sharethis_block{
	float:right;
}

section#block-views-noticiasfrontal-block,
section#block-block-3 {
	height:$navigation_height * 7;
	width:40%;
	@include font-size(14);
	@include breakpoint($tablet){
	}
}

section#block-views-noticiasfrontal-block {
	margin:0 0 0 3%;
	float:left;
	display:block;
	.field-name-image {
		width:auto;
		float:left;
	}
	h2.block-title {
		border-bottom:dotted 2px #ccc;
		margin-bottom:16px;
	}

	.field, .node h2 {
		float:right;
		width:48%;
	}
	.submitted {
		display:none;
	}
	.field-name-field-image {
		float:left;
		width:42%;
	}
}

section#block-block-3 {
	margin:0 3% 0 0;
	display:block;
		float:right;
	.field-name-image {
		width:auto;
		float:left;
	}
	h2.block-title {
		border-bottom:dotted 2px #ccc;
		margin-bottom:16px;
	}
	.fotosala img {
		width:100%;
	}
}

.view-conciertosfrontal {
	margin-top:$navigation_height * 2;
	.views-row {
		width:25%;
		height:400px;
		float:left;
		@include breakpoint($tablet) {
		width:33.33%;
		}
		@include breakpoint($mobile) {
			width:100%;
		}
	}
	ul.concertdates {
		display:none;
	& :hover {
			display:block;
		}
	}
}
.page-node .field-name-field-image {
	float:left;
	margin:0 $navigation_height $navigation_height 0;
}

.front .node-concierto.node-teaser {
	width:$first_sidebar_width - 8;
	position:relative;
	display:table;
	margin: 0 auto;
	overflow:hidden;
	border:#ddd 1px solid;
	@include breakpoint($tablet) {
		width:80%;
		height:auto;
	}
  ul.concertdates {
		float:left;
		margin:0;padding:0;
		li {
			list-style:none;
			& :hover{
				padding:4px;
				transition:padding $hover_time;
			}
		}
	}
	.field-name-field-ilustracion {
		float:left;
	}
	header {
		display:block;
		width:100%;
		position:absolute;
		bottom:37%;left:0;
		a {
			display:block;
			color:$selection_text_color;
			padding:8px;
			text-shadow: 1px 1px 3px #000;
			background:rgba(0,0,0,0.4);
		}
	}
	div.content {
		background:$visited_link_color;
		display:block;
		top:0;
		img {
			width:100%;
			height:100%;
			background:$selection_bg_color;
		}
		.date {
			width:70%;
			float:left;
			background:$visited_link_color;
		}
		.boletos a {
			font-family:$title_font;
			font-weight:700;
			text-align:center;
			text-transform:uppercase;
			width:30%;
			float:left;
			color:$selection_text_color;
			background:$selection_bg_color;
		}
	}
	footer {
		display:none;
	}
}

// Redes sociales

#block-block-2 {
	width:36px;
	z-index:1000;
	display:block;
	background:#fff;
	position:fixed;
	left:0;
	top:$navigation_height * 4;
	box-shadow: 1px 3px 6px 0px #000;
	span {
		display:none;
	}
	ul#redessociales {
		list-style:none;
		display:block;
		padding:0;margin:0;
		li a {
			background-opacity:0.5;
			display:block;
			width:100%;
			height:36px;
			margin:10px 0;
			&:hover {
				margin-left:10px;
				transition:margin-left $hover_time ease-in-out;
			}
		}
		li.facebookL a {
			background:url('../../images/facebook.png') center;
		}
		li.twitterL a {
			background:url('../../images/twitter.png') center;
		}
		li.rssl a {
			background:url('../../images/rss.png') center;
		}
	}
}


// PAGE: concierto


h1.title, .tabs {
	width:$page_width;
	margin:auto;
}

.node-type-concierto {
	#block-block-1.scrolled {
		z-index:40;
		position:fixed;
		top:$navigation_height;left:0;
		width:100%;
		background:#fff;
		margin-top:0;
		transition:position;
	}
	#block-block-1 {
		z-index:40;
		position:absolute;
		width:100%;
		background:#fff;
		margin-top:$navigation_height * 3 * -1 - 16;
		ul {
			width:70%;
			margin: 23px auto;
			li {
				text-transform:uppercase;
				font-weight:700;
				font-family:$title_font;
				float:left;
				margin:0;padding:0;
				list-style:none;
				width:20%;
			}
		}
		@include breakpoint($tablet){
			ul {
				width:100%;
				margin: 23px auto;
				li {
					@include font-size(14);
					list-style:none;
					padding:0 2%;
				}
			}
		}
	}
	section {
		padding-top:$navigation_height * 3;
		.field-label {
			@extend h1;
			border-top:dotted 2px #666;
			padding-top:20px;
			text-align:center;
		} 
	}
	.conciertoilustracion {
		height:$highlight_height;
		position:absolute;
		top:0;
		margin-top:-120px;
		width:100%;
		z-index:-1000;
		.ilustracion {
			float:left;
			overflow:hidden;
			width:100%;
			height:500px;
			background:#fff;
			text-align:right;
			img {
			overflow:hidden;
				opacity:0.3;
				min-width:100%;
				min-height:100%;
			}
		}
	}
	ul.concertdates {
		position:absolute;
		z-index:20;
		top:$navigation_height * 6;
		list-style-type:none;
		margin:0;
		padding:0;
		&.scrolled {
			top:$navigation_height * 8;
		}
		@include font-size(15);
		@include breakpoint($mobile) {
			left:0;
			position:relative;
		}
	}
	.concertdates li {
		float:left;
		height:118px;
		width:$first_sidebar_width / 1.5;
		line-height:1.3em;
		padding:1em;
		@include breakpoint($mobile) {
			width:100%;
			margin:0;
		}
		a {
			width:100%;
			@extend .botondark;
		}
		@include breakpoint($tablet) {
			float:left;
		}
		@include breakpoint($mobile) {
			width:100%;
		}
	}
	div#block-views-conciertoencabezado-block {
		height:$navigation_height * 2;
		display:block;
		overflow:hidden;
		margin-top:$highlight_height * -1;
		margin-bottom:310px;
		@include breakpoint($tablet){
			margin-bottom:280px;
		}
	}


	.block-system{
		width:auto;
		margin:auto;
	}
}

#block-views-conciertodirector-block {
		@include font-size(14);
		text-align:center;
		float:left;
		display:block;
		width:$page_width;
}

#block-views-conciertosolistas-block {
	.views-row {
		@extend  #block-views-conciertodirector-block;
	}
}

// Taxonomy Page ARTISTA

.page-taxonomy-term	{
	.node-concierto {
		.concertdates {
			display:none;
		}
		.links {
			display:none;
		}
		.field-name-field-ilustracion {
			display:none;
		}
	}
	h1.title {
		text-align:center;
	}
}


.page-taxonomy-term .vocabulary-int-rpretes {
	#taxonomy_term_int_rpretes_full_group_ficha_artista {
		width:auto;
		margin:auto;
		text-align:center;
	}
}

// Taxonomy Page SEDES

.page-taxonomy-term .vocabulary-sedes {
	.field-name-field-ilustracion{ 
		float:right;
		margin:0 0 $navigation_height;
	}
}

.page-taxonomy-term-13 {
	article, .pager {
		display:none;
	}
}

div.messages {
	display:none;
	position:fixed;
	top:0;
}

// PAGE (node type page)

.node-type-page .node .field-name-field-ilustracion {
	width:100%;
	height:100%;
	margin-bottom:$navigation_height;
	display:block;
	img {
		width:100%;
		height:100%;
	}
}

.node-type-page .column.sidebar.second {
    @include font-size(12);
}
